.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #262842;
  margin-bottom: 18px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

.title {
  margin: 0;
}

.button {
  border: 1px solid rgba(38, 40, 66, 0.12);
  display: flex;
  align-items: center;
  color: #262842;
  padding: 11px 16px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 10px;
  gap: 12px;
  max-height: 40px;
}

.button__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
